propel:
  _attributes: { package: plugins.opMessagePlugin.lib.model }
  #メッセージタイプ
  message_type:
    id: ~
    #メッセージタイプ名（管理用）
    type_name: { type: varchar(256), required: ture }
    #外部テーブル名（プラグインインストール時に自動で登録／管理画面にて編集不可）
    foreignTable: { type: longvarchar }
    is_deleted: { type: boolean, required: ture, default: 0 }
  message_type_i18n:
    #デフォルト本文
    body: { type: longvarchar }
    #メッセージデフォルトタイトル
    subject: { type: longvarchar }
    #説明  
    caption: { type: longvarchar, required: true }
    info: { type: longvarchar }
  #メッセージ本体（送信）
  message:
    _attributes: { phpName: SendMessageData }
    id: ~
    #送信者
    member_id: { type: integer, foreignTable: member, foreignReference: id }
    subject: { type: longvarchar }
    body: { type: longvarchar }
    is_deleted: { type: boolean, required: true, default: 0 }
    is_send: { type: boolean, required: true, default: 0 }
    #スレッドID（必ずしも直接の返信もとではない）
    thread_message_id: { type: integer, default: 0 }
    #返信元ID
    return_message_id: { type: integer, default: 0 }
    message_type_id: { type: integer, foreignTable: message_type, foreignReference: id }
    created_at:
    updated_at:
  #メッセージ添付ファイル（画像など）
  message_file:
    id: ~
    message_id: { type: integer, required: true, foreignTable: message, foreignReference: id, OnDelete: cascade }
    file_id: { type: integer, required: true, foreignTable: file, foreignReference: id, OnDelete: cascade }
  #メッセージ送信先
  message_send_list:
    id: ~
    #受信者
    member_id: { type: integer, foreignTable: member, foreignReference: id }
    message_id: { type: integer, foreignTable: message, foreignReference: id }
    is_read: { type: boolean, required: true, default: 0 }
    is_deleted: { type: boolean, required: true, default: 0 }
    created_at:
    updated_at:
  #削除済み（DustBox）メッセージ
  deleted_message:
    id: ~
    #削除者
    member_id: { type: integer, foreignTable: member, foreignReference: id }
    message_id: { type: integer, required: true }
    message_send_list_id: { type: integer, required: true }
    #完全削除
    is_deleted: { type: boolean, required: true, default: 0 }
    created_at:
    updated_at:
